<div class="row d-flex flex-wrap">
    {% for project in projects %}
        <div class="col-md-4 mt-4">
            <div class="card d-flex">
                <div class="card-body">

                    <h5 class="card-title">
                        {{ project.title }}
                        {% if project.tags.value %}
                            {{ project.tags.labels('label-default label-sm')|join|raw }}
                        {% endif %}
                        {% if project.category.name.value %}
                            <br>
                            <small>{{ str_singular(project.category.name.value) }}</small>
                        {% endif %}
                    </h5>

                    <p class="card-text">
                        {{ project.description }}
                    </p>

                    <a href="{{ project.route('view') }}" class="btn btn-block btn-light text-left">View Documentation</a>

                </div>
            </div>
        </div>
    {% endfor %}
</div>
