{% extends layout('documentation') %}

{% block content %}
    <div class="container">
        <div class="list-group">

            <form>
                <input name="q" class="form-control" value="{{ request_get('q') }}" placeholder="Search...">
            </form>

            <br>

            {% if request_get('q') %}

                {% set sections = entries('documentation', 'sections').search(request_get('q')).take(50).get() %}

                {% for section in sections.enabled() %}
                    <a href="{{ section.route('view') }}" class="list-group-item">

                        <h4 class="list-group-item-heading">
                            {{ section.project.title }} > {{ section.title }}
                            <br>
                            <small>{{ section.path }}</small>
                        </h4>

                        <p class="list-group-item-text">
                            {{ section.meta_description }}
                        </p>

                        <div class="clearfix"></div>

                    </a>
                {% endfor %}

            {% else %}

                {% set row = entries('documentation', 'projects').get().chunk(3) %}

                {% for projects in row %}
                    <div class="row">
                        {% for project in projects %}

                            <div class="col-lg-4">
                                <div class="panel panel-default text-center">
                                    <div class="panel-body">

                                        <h3 class="panel-heading">
                                            {{ project.title }}<br><small>Application</small>
                                        </h3>

                                        <p>
                                            {{ project.description }}
                                        </p>

                                        <br>

                                        <a href="{{ project.route('view') }}" class="btn btn-sm btn-block btn-primary">
                                            Documentation
                                        </a>

                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                {% endfor %}

            {% endif %}

        </div>
    </div>
{% endblock %}
