{% extends layout('documentation') %}

{% block content %}
    <div class="container">
        <div class="list-group">

            <form>
                <input name="q" class="form-control" value="{{ request_get('q') }}" placeholder="Search...">
            </form>

            <br>

            {% if request_get('q') %}

                {% set sections = entries('documentation', 'sections').search(request_get('q')).take(50).get() %}

                {% if section.count() %}
                    {% for section in sections.enabled() %}
                        <a href="{{ section.route('view') }}" class="list-group-item">

                            <h4 class="list-group-item-heading">
                                {{ section.project.title }} > {{ section.title }}
                                <br>
                                <small>{{ section.version.route('view') }}#{{ section.path }}</small>
                            </h4>

                            <p class="list-group-item-text">
                                {{ section.meta_description }}
                            </p>

                            <div class="clearfix"></div>

                        </a>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info">
                        <p>No results.</p>
                    </div>
                {% endif %}

            {% else %}

                {% set projects = entries('documentation', 'projects').get() %}

                {% include 'anomaly.module.documentation::partials/projects' with {'projects': projects} %}

            {% endif %}

        </div>
    </div>
{% endblock %}
