{% extends layout('documentation') %}

{% block content %}
    <div id="documentation">
        <div class="container">
            <div class="list-group">

                {% for category in entries('documentation', 'categories').get() %}
                    <a href="{{ category.route('view') }}" class="btn btn-primary">{{ category.title }}</a>
                {% endfor %}

                <br><br>

                <form>
                    <input name="q" class="form-control" value="{{ request_get('q') }}" placeholder="Search...">
                </form>

                <br>

                {% if request_get('q') %}

                    {% set pages = entries('documentation', 'pages').search(request_get('q')).take(50).get() %}

                    {% if pages.count() %}
                        {% for page in pages %}
                            <a href="{{ page.route('view') }}" class="list-group-item">

                                <h4 class="list-group-item-heading">
                                    {{ page.project.title }} > {{ page.title }}
                                    <br>
                                    <small>{{ page.route('view') }}</small>
                                </h4>

                                <p class="list-group-item-text">
                                    {{ page.meta_description }}
                                </p>

                                <div class="clearfix"></div>

                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-info">
                            <p>No results.</p>
                        </div>
                    {% endif %}

                {% else %}

                    {% set projects = entries('documentation', 'projects').where('enabled', true).get() %}

                    {% include 'anomaly.module.documentation::partials/projects' with {'projects': projects} %}

                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
