{% extends layout('documentation') %}

{% block content %}
    <div class="container">
        <div class="list-group">

            <form>
                <input name="q" class="form-control" value="{{ request_get('q') }}" placeholder="Search...">
            </form>

            <br>

            {% if request_get('q') %}

                {% set pages = entries('documentation', 'pages').search(request_get('q')).take(50).get() %}

                {% for page in pages.enabled() %}
                    <a href="{{ page.route('view') }}" class="list-group-item">

                        <h4 class="list-group-item-heading">
                            {{ page.project.title }} > {{ page.title }}
                            <br>
                            <small>{{ page.path }}</small>
                        </h4>

                        <p class="list-group-item-text">
                            {{ page.meta_description }}
                        </p>

                        <div class="clearfix"></div>

                    </a>
                {% endfor %}

            {% else %}

                {% set projects = entries('documentation', 'projects').get() %}

                {% for project in projects.enabled() %}
                    <a href="{{ project.route('view') }}" class="list-group-item">

                        <h4 class="list-group-item-heading">
                            {{ project.title }}
                        </h4>

                        <p class="list-group-item-text">
                            {{ project.description }}
                        </p>

                        <div class="clearfix"></div>

                    </a>
                {% endfor %}

            {% endif %}

        </div>
    </div>
{% endblock %}
