{% extends layout('documentation') %}

{% block content %}

    <div class="container">
        <div class="row">

            <aside class="col-lg-3">
                {{ documentation().depth(2)|raw }}
            </aside>

            <div class="col-lg-9">

                <h1>{{ project.title }}</h1>

                <hr>

                {% for section in version.sections %}
                    <div class="section">

                        <h{{ section.level + 1 }}>

                            {{ section.title }}

                            {% if section.level > 1 %}
                                <a class="permalink" name="{{ section.path }}" href="#{{ section.path }}" style="text-decoration: none;">
                                    {{ icon('link') }}
                                </a>
                            {% endif %}

                        </h{{ section.level + 1 }}>

                        {{ section.make.content|raw }}

                    </div>
                {% endfor %}

            </div>

        </div>
    </div>

{% endblock %}
