{% extends layout('documentation') %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-lg-12">

                <div class="jumbotron text-center">

                    <h1>{{ project.title }}</h1>

                    {% if project.description.value %}
                        <p>{{ project.description }}</p>
                    {% endif %}

                </div>

            </div>
        </div>

        <div class="row">

            <aside class="col-lg-3">
                {{ documentation().depth(2)|raw }}
            </aside>

            <div class="col-lg-9">

                {% for section in version.sections %}
                    <div class="section">

                        <h{{ section.level + 1 }}>

                            {{ section.title }}

                            <a class="permalink" name="{{ section.path }}" href="#{{ section.path }}">
                                {{ icon('link') }}
                            </a>

                        </h{{ section.level + 1 }}>

                        {{ section.make.content|raw }}

                    </div>
                {% endfor %}

            </div>

        </div>

    </div>

{% endblock %}
