{% extends layout('documentation') %}

{% block content %}
    
    <div id="documentation">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                    <div class="jumbotron text-center">

                        <h1>{{ project.title }}</h1>

                        {% if project.description.value %}
                            <p>{{ project.description }}</p>
                        {% endif %}

                    </div>

                </div>
            </div>

            <div class="row">

                <aside class="col-lg-3">
                    <ul>
                        {% for page, link in pages.en %}
                            {% if page != 'index' %}
                                <li>
                                    <a href="{{ url_route('anomaly.module.documentation::projects.page', {
                                        'project': project.slug.value,
                                        'version': version,
                                        'page': page
                                    }) }}">{{ link.index.title }}</a>
                                    <ul class="list-unstyled">
                                        {% for key, inner in link %}
                                            {% if key != 'index' %}
                                                <li>
                                                    -
                                                    <a href="{{ url_route('anomaly.module.documentation::projects.page', {
                                                        'project': project.slug.value,
                                                        'version': version,
                                                        'page': page ~ '/' ~ key
                                                    }) }}">{{ inner.title }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </aside>

                <div class="col-lg-9">

                    {{ page.content|markdown|raw }}

                </div>

            </div>

        </div>
    </div>

{% endblock %}
