{% extends layout('documentation') %}

{% block content %}

    {{ asset_add('styles.css', 'anomaly.module.documentation::css/page.css', ['min']) }}

    {{ asset_add('scripts.js', 'anomaly.module.documentation::js/clipboard.js', ['min']) }}
    {{ asset_add('scripts.js', 'anomaly.module.documentation::js/anchor.js', ['min']) }}
    {{ asset_add('scripts.js', 'anomaly.module.documentation::js/prism.js', ['min']) }}
    {{ asset_add('scripts.js', 'anomaly.module.documentation::js/page.js', ['min']) }}

    <div id="documentation">
        <div class="container">

            <div class="row">

                <aside class="col-lg-3">
                    {{ documentation()|raw }}
                </aside>

                <div class="col-lg-9 page">
                    {{ page.content|markdown|raw }}
                </div>

            </div>

        </div>
    </div>

{% endblock %}
