{% extends layout('documentation') %}

{% block content %}

    {{ asset_add('styles.css', 'anomaly.module.documentation::scss/anchors.scss', ['min']) }}
    {{ asset_add('styles.css', 'anomaly.module.documentation::scss/prism.scss', ['min']) }}

    {{ asset_add('scripts.js', 'anomaly.module.documentation::js/plugins/*', ['min']) }}
    {{ asset_add('scripts.js', 'anomaly.module.documentation::js/initialize.js', ['min']) }}

    <div id="documentation">
        <div class="container">

            <div class="row">

                <aside class="col-lg-3">
                    {{ documentation()|raw }}
                </aside>

                <div class="col-lg-9">
                    {{ page.content|markdown|raw }}
                </div>

            </div>

        </div>
    </div>

{% endblock %}
