{% extends layout(page.data('layout', 'documentation')) %}

{% block content %}

    <style type="text/css">
        {{ asset_inline('anomaly.module.documentation::css/prism.css', ['min']) }}
        {{ asset_inline('anomaly.module.documentation::css/documentation.css', ['min']) }}
    </style>

    {{ asset_add('scripts.js', 'anomaly.module.documentation::js/clipboard.js', ['min']) }}
    {{ asset_add('scripts.js', 'anomaly.module.documentation::js/anchor.js', ['min']) }}
    {{ asset_add('scripts.js', 'anomaly.module.documentation::js/tocbot.js', ['min']) }}
    {{ asset_add('scripts.js', 'anomaly.module.documentation::js/prism.js', ['min']) }}
    {{ asset_add('scripts.js', 'anomaly.module.documentation::js/page.js', ['min']) }}

    <div class="row">

        <div class="col-lg-2">
            <div class="documentation__sidebar documentation__sidebar--left">
                {{ documentation()|raw }}
            </div>
        </div>

        <div class="col-lg-10">
            <div class="documentation__content">
                {{ page.content.value|markdown|raw }}
            </div>
        </div>

    </div>

{% endblock %}
